@font-face {
    font-family: 'montserratbold';
    src: url('../assets/fonts/montserrat/montserrat-bold.woff2') format('woff2'),
         url('../assets/fonts/montserrat/montserrat-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*@font-face {
    font-family: 'montserratbold_italic';
    src: url('../assets/fonts/montserrat/montserrat-bolditalic.woff2') format('woff2'),
         url('../assets/fonts/montserrat/montserrat-bolditalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratitalic';
    src: url('../assets/fonts/montserrat/montserrat-italic.woff2') format('woff2'),
         url('../assets/fonts/montserrat/montserrat-italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratlight';
    src: url('../assets/fonts/montserrat/montserrat-light.woff2') format('woff2'),
         url('../assets/fonts/montserrat/montserrat-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratlight_italic';
    src: url('../assets/fonts/montserrat/montserrat-lightitalic.woff2') format('woff2'),
         url('../assets/fonts/montserrat/montserrat-lightitalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}*/
@font-face {
    font-family: 'montserratmedium';
    src: url('../assets/fonts/montserrat/montserrat-medium.woff2') format('woff2'),
         url('../assets/fonts/montserrat/montserrat-medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*@font-face {
    font-family: 'montserratmedium_italic';
    src: url('../assets/fonts/montserrat/montserrat-mediumitalic.woff2') format('woff2'),
         url('../assets/fonts/montserrat/montserrat-mediumitalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}*/
@font-face {
    font-family: 'montserratregular';
    src: url('../assets/fonts/montserrat/montserrat-regular.woff2') format('woff2'),
         url('../assets/fonts/montserrat/montserrat-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*@font-face {
    font-family: 'montserratsemibold';
    src: url('../assets/fonts/montserrat/montserrat-semibold.woff2') format('woff2'),
         url('../assets/fonts/montserrat/montserrat-semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratsemibold_italic';
    src: url('../assets/fonts/montserrat/montserrat-semibolditalic.woff2') format('woff2'),
         url('../assets/fonts/montserrat/montserrat-semibolditalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}*/

/*@font-face {
    font-family: 'pt_sansbold';
    src: url('../assets/fonts/pt_sans/pt_sans-web-bold.woff2') format('woff2'),
         url('../assets/fonts/pt_sans/pt_sans-web-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pt_sansbold_italic';
    src: url('../assets/fonts/pt_sans/pt_sans-web-bolditalic.woff2') format('woff2'),
         url('../assets/fonts/pt_sans/pt_sans-web-bolditalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pt_sansitalic';
    src: url('../assets/fonts/pt_sans/pt_sans-web-italic.woff2') format('woff2'),
         url('../assets/fonts/pt_sans/pt_sans-web-italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}*/
@font-face {
    font-family: 'pt_sansregular';
    src: url('../assets/fonts/pt_sans/pt_sans-web-regular.woff2') format('woff2'),
         url('../assets/fonts/pt_sans/pt_sans-web-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
